{% extends 'main/base.html' %}

{% load static %}

{% load i18n %}





{% block title %}MyTripMed - {% trans "About Us" %}{% endblock title %}
{% block description %}{% trans "Compare in one click the most economical offers for your aesthetic treatment in the best clinics in the world." %}{% endblock description %}


{% block body %}



<section class="top-section pb-0">

  <div class="container heading-border">

    <h1 class="mb-3">{% trans "About Us" %}</h1>

  </div>

</section>



<div class="contact-top">

</div>



<div class="container mb-5 pb-5">

  <div class="row">

    <div class="col-md-12 container-border ">

      <div class="card card-sm">

        <p>

          {% trans "MyTripMed is the online comparator that allows you to book your treatment directly in the best clinics in the world. Our tool puts you in touch with doctors handpicked for their experience and quality of service.  Thus, we give you all the information you need to better compare the offers. You will therefore find the country of the practitioner, an overview of his professional career, his specialties and in particular his prices. We also provide you with before/after photos and real testimonials from other patients. This will allow you to choose more transparently. " %}

        </p><br><br>

        <p>

          {% trans "So, by booking your treatment on MyTripMed, you have the assurance of being treated by a renowned medical expert. In addition, you benefit from the most attractive offers on the market. Thanks to our portal, you can save up to 70% on the prices of dental care, hair transplant or cosmetic surgery. With MyTripMed, you benefit from the most optimal quality-price ratio." %}

        </p><br><br>

        <p>

          {% trans "Our expert advisors guarantee you full assistance in making a treatment appointment. They answer all your questions and make things easier for you. Likewise, they send you a free, non-binding quote on the type of operation you want to perform. This allows you to leave for your medical stay without surprises or hidden costs. In addition, we have selected for you the most famous destinations in the world for the quality of their services and their reduced rates: Turkey, Tunisia, Hungary, Romania, Mexico..." %}

        </p><br><br>

        <p>

          {% trans "In short, our mission is to give you access to a wide range of treatments. We help you get the look you dream of by letting you choose your own doctor. Also, we make sure you have a great medical trip without hurting your budget! " %}

        </p>


      </div>

    </div>



    

  </div>

</div>

</div>





{% endblock body %}
